# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler files
.bundle/
vendor/

# OS specific files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 